/* {
	margin: 0;
	padding: 0;
	webkit-box-sizing: border-box;

} */

.navegacion{
	width: 100px;
	margin: 30px auto;
	background:#F47920;
}
.navegacion ul{
	list-style: none;

}
menu> li{
	position: relative;
	display: inline-block;
}
menu> li>a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family:Open sans;
	text-decoration: none;
}
.menu li a :hover{
color: #CE7D35;
transition: all .3s;
}
/*Submenu*/
submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: Open sans;
	text-decoration: none;
}

menu li :hover.submenu{
	visibility: visible;
	opacity: 1;

}


 


h1{
color:#005883;

}
h2{
color:#F47920;
font-family: Franklin Gothic Book;
}


h3{
color:#005883;
font-family: angsana New;

}

div{
	background-color:#F47920;
}